@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Brasil Burger</h1>
    <p>Commandez vos burgers préférés en ligne.</p>
</div>
