{#
Order & Price Section

@param string orderCode - Associated order code
@param string orderId - Order ID for link
@param string deliveryPrice - Delivery price
#}
{% set orderCode = orderCode|default('#CMD-0000') %}
{% set orderId = orderId|default('') %}
{% set price = deliveryPrice|default('0 F CFA') %}

<div class="space-y-6">
    {% include 'components/info_section_header.html.twig' with {
        title: 'Commande & Prix',
        icon: 'receipt_long'
    } %}

    <div class="grid grid-cols-1 gap-4">
        {# Associated Order #}
        {% include 'components/stat_box.html.twig' with {
            label: 'Code commande associée',
            value: orderCode,
            clickable: true,
            icon: 'open_in_new',
            href: orderId ? path('app_order_show', {id: orderId}) : '#'
        } %}

        {# Delivery Price #}
        {% include 'components/stat_box.html.twig' with {
            label: 'Prix de la livraison',
            value: price
        } %}
    </div>
</div>
