{% extends 'layouts/dashboard_layout.html.twig' %}

{% block title %}{{ acronyme_sn }} - Livreurs{% endblock %}

{% block page_title %}Gestion des livreurs{% endblock %}
{% block page_subtitle %}Gérer votre équipe de livraison et leur disponibilité.{% endblock %}

{% block header_actions %}
    {% include 'components/button_link.html.twig' with {
        buttonLink: 'app_deliveries_deliverers'
    } %}
{% endblock %}

{% block header_extra %}
    {# Tabs Navigation #}
    {% include 'partials/deliveries/header_tabs.html.twig' with {
        activeTab: 'deliverers',
        ordersCount: ordersToDeliveredPending
    } %}
{% endblock %}

{% block content %}
<div class="space-y-6 max-w-[1600px] w-full mx-auto">
    {# Filters Bar #}
    {% include 'partials/deliverers/filters_bar.html.twig' with {
        form: form
    } %}

    {# Deliverers Table #}
    {% include 'partials/deliverers/table.html.twig' with {#}
    deliverers: livreurs,
    pagination: paginationData
    } %}
</div>
    {% endblock %}



