@{
    var appName = AppSettings.Value.Name;
    var logo = AppSettings.Value.LogoMain;
}
<nav class="px-6 sm:px-12 py-6 flex justify-between items-center">
    <div class="flex items-center gap-3">
        <img alt="@appName Logo"
             class="h-16 w-auto dark:hidden"
             src=@logo />

        <span class="font-display font-bold text-xl tracking-tight text-primary dark:text-white hidden sm:block uppercase">
            @appName
        </span>
    </div>

    <div class="flex items-center gap-4">
        <a class="text-sm font-bold text-primary hover:text-orange dark:text-white transition-colors"
           href="@Url.Action("Login", "Auth")">
            Se connecter
        </a>

        <a class="px-5 py-2.5 bg-orange-sun hover:bg-secondary text-white text-sm font-bold rounded-lg transition-all shadow-md transform hover:-translate-y-0.5"
           href="@Url.Action("Register", "Auth")">
            S'inscrire
        </a>
    </div>
</nav>
