{#
Statistics Grid - Simple Auto Layout

@param array stats - Array of statistics
#}
{% set statistics = stats|default([]) %}

<div class="flex flex-wrap gap-3 mb-6">
    {% for stat in statistics %}
        {% include 'components/stat_card.html.twig' with {
            title: stat.title,
            value: stat.value|app_number_formated,
            icon: stat.icon,
            iconBg: stat.iconBg,
            valueUnit: stat.isPrice ? app_currency : ''
        } %}
    {% endfor %}
</div>
