{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Une erreur est survenue</h1>
    <p>Nos cuisiniers s'occupent du problème technique ! Réessayez plus tard.</p>
{% endblock %}
