{% extends 'layouts/dashboard_layout.html.twig' %}

{% block title %}{{ acronyme_sn }} - Livraisons{% endblock %}

{% block page_title %}
    {% if livreurName %}
        Livraisons de {{ livreurName }}
    {% else %}
        Suivi des livraisons
    {% endif %}
{% endblock %}
{% block page_subtitle %}Suivez l'état des livraisons en cours et l'historique.{% endblock %}

{% block header_actions %}
    {% include 'components/button_link.html.twig' with {
        buttonLink: livreurId ? 'app_deliveries_by_livreur' : 'app_deliveries_index',
        buttonLinkParams: livreurId ? {livreur_id: livreurId} : {}
    } %}
{% endblock %}

{% block header_extra %}
    {# Tabs Navigation #}
    {% include 'partials/deliveries/header_tabs.html.twig' with {
        activeTab: 'deliveries',
        ordersCount: ordersToDeliveredPending
    } %}
{% endblock %}

{% block content %}
    <div class="space-y-6 max-w-[1600px] w-full mx-auto">
        {# Filters Bar #}
        {% include 'partials/deliveries/deliveries_filters_bar.html.twig' with {
            form: form
        } %}

        {# Deliveries Table #}
        {% include 'partials/deliveries/deliveries_table.html.twig' with {
            deliveries: livraisons,
            statusTerminer: statusTerminer,
            pagination: paginationData
        } %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/deliveries_table.js') }}"></script>
{% endblock %}



