# .env.local
APP_ENV=dev
APP_SECRET=votre_cle

# URL Neon
DATABASE_URL=""

###> Cloudinary Configuration (Lecture seule) ###
CLOUDINARY_CLOUD_NAME=nom_de_votre_cloud
###< Cloudinary Configuration ###
